<?xml version="1.0" ?>
<config>
    <modules>
        <Aristos_Test>
            <version>0.0.1</version>
        </Aristos_Test>
    </modules>
	<global>
		<blocks>
            <aristostest>
                <class>Aristos_Test_Block</class>
            </aristostest>
        </blocks>
		<helpers>
            <aristostest>
                <class>Aristos_Test_Helper</class>
            </aristostest>
        </helpers>
		<models>
            <aristostestsql>
                <resourceModel>aristostest_resource</resourceModel>
            </aristostestsql>
            <aristostest_resource>
                <entities>
                    <table_aristostest>
                        <table>aristos_test_entities</table>
                    </table_aristostest>
                </entities>
            </aristostest_resource>
        </models>
        <resources>
            <aristostest_setup>
                <setup>
                    <module>Aristos_Test</module>
                </setup>
            </aristostest_setup>
        </resources>
    </global>
	<admin>
        <routers>
            <aristostest_admin>
                <use>admin</use>
                <args>
                    <module>Aristos_Test</module>
                    <frontName>aristostest_admin</frontName>
                </args>
            </aristostest_admin>
        </routers>
    </admin>
	<frontend>
		<layout>
            <updates>
                <aristostest>
                    <file>aristostest_settings.xml</file>
                </aristostest>
            </updates>
        </layout>
        <routers>
            <aristostest>
                <use>standard</use>
                <args>
                    <module>Aristos_Test</module>
                    <frontName>aristos</frontName>
                </args>
            </aristostest>
        </routers>
    </frontend>
</config>